<footer class="gh-footer{{#match @custom.header_and_footer_color "Accent color"}} has-accent-color{{/match}} gh-outer">
    <div class="gh-footer-inner gh-inner">

        <div class="gh-footer-bar">
            <div class="gh-footer-row-top">
                <nav class="gh-footer-menu">
                    {{navigation type="secondary"}}
                </nav>

                <div class="gh-footer-social">
                    {{#social_accounts @site}}
                        <a href="{{href}}" target="_blank" rel="noopener" aria-label="{{name}}">
                            {{#> (concat "icons/" type)}}
                                <span class="gh-footer-social-fallback">{{name}}</span>
                            {{/undefined}}
                        </a>
                    {{/social_accounts}}
                </div>
            </div>

            <div class="gh-footer-row-bottom">
                <div class="gh-footer-copyright">
                    &copy; <script>document.write(new Date().getFullYear());</script> {{@site.title}}
                </div>
            </div>
        </div>

        {{#if @site.members_enabled}}
            {{#unless @member}}
                <section class="gh-footer-signup">
                    <h2 class="gh-footer-signup-header is-title">
                        {{#if @custom.signup_heading}}{{@custom.signup_heading}}{{else}}{{@site.title}}{{/if}}
                    </h2>
                    <p class="gh-footer-signup-subhead is-body">
                        {{#if @custom.signup_subheading}}{{@custom.signup_subheading}}{{else}}{{@site.description}}{{/if}}
                    </p>
                    {{> "email-subscription" email_field_id="footer-email"}}
                </section>
            {{/unless}}
        {{/if}}

    </div>
</footer>